<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"-->
<!--        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        &lt;!&ndash; URL для подключения к базе данных PostgreSQL &ndash;&gt;-->
<!--        <property name="connection.url">jdbc:postgresql://localhost:5432/movies_db</property>-->
<!--        &lt;!&ndash; Драйвер JDBC для PostgreSQL &ndash;&gt;-->
<!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
<!--        &lt;!&ndash; Диалект для PostgreSQL &ndash;&gt;-->
<!--        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>-->
<!--        &lt;!&ndash; Имя пользователя для подключения &ndash;&gt;-->
<!--        <property name="connection.username">postgres</property>-->
<!--        &lt;!&ndash; Пароль для подключения &ndash;&gt;-->
<!--        <property name="connection.password">postgres</property>-->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="format_sql">true</property>-->
<!--        &lt;!&ndash; Автоматическое создание/обновление схемы базы данных &ndash;&gt;-->
<!--        <property name="hbm2ddl.auto">update</property>-->
<!--        <property name="current_session_context_class">thread</property>-->

<!--        <mapping class="com.hibernate.lessons.one_to_one.entity.Car"/>-->
<!--        <mapping class="com.hibernate.lessons.one_to_one.entity.Engine"/>-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->
